ip access-list vpn-acl
  permit ip {{ local_address }}/32 {{ remote_address }}/32

crypto isakmp policy 1
  encr aes
  authentication pre-share
  group 2

crypto isakmp key {{ psk }} address {{ remote_address }}

crypto ipsec transform-set vpn-transform esp-aes esp-sha-hmac

crypto map vpn-map local-address {{ local_address }}
  match address vpn-acl
  set peer {{ remote_address }}
  set transform-set vpn-transform

interface {{ interface }}
  crypto map vpn-map
